.btn {
  display: block;
  color: brown;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 30%;
  margin: auto;
  font-size: 1.4rem;
  font-weight: bolder;
  font-style: oblique;
  background: #eeffee;
}
.btn:hover {
  cursor: pointer;
}
.btn:disabled {
  cursor: not-allowed;
  color: #ccc;
}
