.dropDown {
  width: 70%;
  border: 1px solid gray;
  margin: 0 10px;
  box-shadow: 2px 2px 2px #ddd;
  height: 2rem;
}
.dropDown:hover {
  cursor: pointer;
  outline: none;
  background: #ddd;
}
.label {
  width: auto;
  font-weight: bolder;
  margin: 0.5rem auto;
  font-size: 1rem;
  font-style: oblique;
}
.dropDownWrapper {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
}

@media (max-width: 400px) {
  .dropDownWrapper {
    width: 90%;
  }
  .dropDown {
    width: 50%;
  }
}
