.form {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 2px 3px 1px #ccc;
  border: 1px solid #eee;
  padding: 10px 8px;
  margin: auto;
}

.form ::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0.2%;
  background: #ccc;
}

.form ::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  height: 0.2%;
  width: 100%;
  background: #ccc;
}

@media (min-width: 600px) {
  .form {
    width: 500px;
  }
}
